main {
    padding: 1.5em var(--padding-x);
    margin: auto auto;
}

main h1 {
    color: var(--main-color);
    margin: 0 auto;
    text-align: center;
}

#login-form {
    margin: 40px auto;
    width: 100%;
    border: 1px solid var(--main-color);
}

.login-extra {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: space-between;
    align-items: center;
}

.login-extra div {
    display: flex;
    align-items: center;
    margin-top: 1em;
}

.login-extra label[for="recall"] {
    font-size: inherit;
    order: 1;
    margin-left: 1em;
}
.signup-link{
	display: block;
	margin: 1.5em auto 0;
}

nav {
    position:relative !important;
}
